
<style>
.nowrap {
  white-space: nowrap;
}

h1 {
    margin:0;
    font-size:53px;
}

.content_1 {
    color: #fff;
}
.ranking {
    margin-top:20px;
}
.ranking_box {
    background:rgba(50,51,51,0.8);
    width: 90%;
    height: 200px;
    border: 1px solid #ccc;
    margin: 0 auto 30px;
}
.ranking_title {
    margin-left:30px;
}
.content_2 {
    padding-top: 40px;
    min-height: 800px;
/*    background: url('/assets/images/bg2.png') no-repeat center center;
    background-size: cover;
    max-height: 600px;*/
}

.topic {
    min-height:250px;
}
.topic_title {
    text-align: center;
}
.topic_box {
    text-align: center;
    font-weight: 400;
    font-family: Nanum Myeongjo, cursive;
    color:#111;
/*    width: 500px;
    margin: 30px auto;
    border: 1px solid #ccc;
    border-radius : 10px;*/
}
.topic_quote {
    text-align: center;
    font-weight: 700;
}
.quote-left:before {
    content: '“';
    font-size: 80px;
}

.review {
    margin-top:30px;
}

.review_title {
    margin-left:30px;
}
.review_box {
    width: 95%;
    margin: 40px auto 30px;
}
.review_post {
    margin: 10px 0 20px;
    min-height:60px;
}

.review_profile {
    min-height: 60px;
}


textarea {
    border-radius:5px;
    height:62px;
}

.btn-school {
    padding: 10px;
    border-radius:5px;
    border:0;
    background:#73d1f7;
    color:#fff;
}
.btn-school:hover {
    background:#39c0f7;
}
.btn-success {
    background:#73d1f7;
    border:0;
}
.btn-success:hover {
    background:#39c0f7;
    border:0;
}

.profile_image {
    background:url('https://graph.facebook.com/1090029774447417/picture') no-repeat center center;
    background-size: cover;
    width:50px;
    height:50px;
    border-radius:100%;
    margin:auto;
}
.profile_name {
}
.review_text {
    background:#eee;
    min-height:60px;
    border-radius:5px;
    padding:10px;
}

.modal-dialog {
    margin-top: 100px;
}
@media (max-width: 991px) {
    h1 {
        font-size: 35px;
    }
    .review_profile {
        text-align: center;
    }
    .modal-dialog {
        margin-top: 100px;
    }
    .col-md-10 .review_text {
        float:left;
        width:83.33333333%;
    }
    .col-md-10 .col-md-2 {
        float:left;
        width:16.66666667%;
    }
}


</style>

<section class="content_1">
    <div style="height: 200px; padding-top: 25px;">
        <div style="background:url('/assets/images/logo.png') no-repeat center center; background-size: contain; height:150px;"></div>
    </div>
    <div class="container">
            <div class="ranking">
                <div class="col-md-6">
                    <% if users_signed_in? %>
                        <% if session[:school_id].nil? %>
                            <div class="ranking_title">
                                <h3><i class="fa fa-trophy"></i> 내 순위</h3>
                                <p>학교별로 내 순위를 볼 수 있어요!</p>
                            </div>
                            <div class="ranking_box panel" style="text-align:center; padding-top: 80px; color:#000;">
                                <button class="btn-school" data-toggle="modal" data-target="#school_modal">클릭하고 학교를 등록하세요!</button>
                            </div>
                        <% else %>
                            <div class="ranking_title">
                                <h3><i class="fa fa-trophy"></i> 내 순위</h3>
                                <p><%= School.find(session[:school_id]).name %> <button class="btn btn-xs btn-default" data-toggle="modal" data-target="#school_modal">변경</button></p>
                            </div>
                            <div class="ranking_box panel">
                                <div style="padding: 10px;">
                                    <% 
                                        students    = School.find(session[:school_id]).users
                                        sorted      = students.sort{|z| Reply.where(user_id: z.id).count}.first(5)
                                        student_score_in_raw = sorted.map{|x| [x, Reply.where(user_id: x.id).count*150] }
                                    %>
                                    <% student_score_in_raw.each do |std| %>
                                        <div style="padding: 10px; 15px;">
                                            <h4 style="margin:0;font-weight:200; "><%= student_score_in_raw.index(std) + 1 %>위 <%= std[0]['name'] %> | <%= std[1] %>점</h4>
                                        </div>
                                    <% end %>
                                </div>
                            </div>
                        <% end %>
                    <% else %>
                    <div class="ranking_title">
                        <h3><i class="fa fa-trophy"></i> 내 순위</h3>
                        <p>학교별로 내 순위를 볼 수 있어요!</p>
                    </div>
                    <div class="ranking_box panel" style="text-align:center; padding: 80px;">
                        로그인하면 사용할 수 있습니다.
                    </div>
                    <% end %>
                </div>
                <div class="col-md-6">
                    <div class="ranking_title">
                        <h3><i class="fa fa-trophy"></i> 지역별 학교 순위</h3>
                        <p>지역별로 학교 순위를 볼 수 있어요!</p>
                    </div>
                    <div class="ranking_box panel">
                        <div style="padding: 10px;">
                            <% 
                                schools = Reply.all.map{|r| r.user.school.name}.sort
                                arr = [2300, 2250, 1800, 0]
                                sorted = schools.uniq.sort{|y| schools.count(y)}.first(5)
                                sort_n_count = sorted.map{|x| [x, schools.count(x)*150]}
                            %>
                            <% sort_n_count.each do |school| %>
                                <div style="padding: 10px; 15px;">
                                    <h4 style="margin:0;font-weight:200; "><%= sort_n_count.index(school) + 1 %>위 <%= school[0] %> | <%= school[1] %>점</h4>
                                </div>
                            <% end %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="content_2">
    <div class="container">
        <% topic = Topic.last %>
        <div class="topic">
            <div class="col-md-12">
                <div class="topic_title">
                    <h3><i class="fa fa-newspaper-o"></i> 금주의 주제</h3>
                </div>
                <div class="topic_quote">
                    <div class="quote-left"></div>
                </div>
                <div class="topic_box">
                    <h1><%= topic.content %></h1>
                    <!--<h1><b>박근혜</b>를 어떻게 <span class="nowrap">생각하세요?</span></h1>-->
                </div>
            </div>
        </div>    
        <div class="review">
            <div class="col-md-12">
                <div class="review_title">
                    <h3><i class="fa fa-pencil"></i> 당신의 십감은?</h3>
                    <p>여러분의 의견을 들려주세요.</p>
                </div>
                <div class="review_box">
                    <% Reply.where(topic_id: topic.id).all.each do |reply| %>
                    <div class="review_post">
                        <div class="review_profile col-md-2">
                            <div class="profile_image col-md-4" style="background:url('<%= reply.user.img %>');"></div>
                            <div class="profile_name col-md-6"><p><%= reply.user.name %></p></div>
                        </div>
                        <div class="review_text col-md-10">
                            <p><%= reply.content %>
                                <% if session[:id] == reply.user.id %>
                                <a style="float:right; right: 0px;" href="/reply/deletes/<%= reply.id %>" class="btn btn-xs btn-danger">삭제</a>
                                <% end %>
                            </p>
                        </div>
                    </div>
                    <% end %>
                    <% if users_signed_in? %>
                    <!--댓글 입력 폼 Do-->
                    <div class="review_post">
                        <form action="/reply/saves" method="post">
                            <div class="review_profile col-md-2">
                                <div class="profile_image col-md-4" style="background-image:url('<%= session[:img] %>');"></div>
                                <div class="profile_name col-md-6"><p><%= session[:name] %></p></div>
                            </div>
                            <input type="hidden" name="user_id" value="<%= session[:id] %>">
                            <input type="hidden" name="topic_id" value="<%= topic.id %>">
                            <div class="col-md-10" style="padding:0; min-height: 60px;">
                            <textarea class="review_text col-md-10" name="content" placeholder="남을 비방하거나 모욕적인 의견은 1년 이하의 징역 또는 5000만원 이하의 벌금형에 처해질 수 있습니다."></textarea>
                            <div class="col-md-2"><button type="submit"><i class="fa fa-pencil" style="padding-top: 5px; font-size:45px;"></i></button></div>
                            </div>
                        </form>
                    </div>
                    <% end %>
                    <!--댓글 폼 End-->
                </div>
            </div>
        </div>
    </div>
</section>


<script>
$(document).ready(function () {

    $(window).scroll(function () {
        if ($(this).scrollTop() > 100) {
            $('.send_topic').fadeIn();
        } else {
//            $('.send_topic').fadeOut();
        }
    });

    $('.send_topic').click(function () {
        $("html, body").animate({
            scrollTop: 600
        }, 1500);
        return false;
    });
});
</script>
