<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>탄핵커톤 프로젝트</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  
  <!-- 합쳐지고 최소화된 최신 CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
  <!-- 부가적인 테마 -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
  <!-- 합쳐지고 최소화된 최신 자바스크립트 -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
  <script src="https://use.fontawesome.com/e2c19a3411.js"></script>
</head>
<body>
  <%= @rt %>
  <% if users_signed_in? %>
    <div>
        <a id="logout" class="btn btn-lg btn-info">FACEBOOL LOGOUT! <%= session[:id] %></a>
        <div id="profile"><img src="<%= session[:img] %>"><span><%= session[:name] %></span></div>
    </div>
  <% else %>
    <div>
        <a id="login" class="btn btn-lg btn-primary">FACEBOOL LOGIN! </a>
    </div>
  <% end %>

<%= yield %>

<script>

  window.fbAsyncInit = function() {
    FB.init({
      appId      : '996081407170811',
      xfbml      : false,
      cookie     : true,
      version    : 'v2.8'
    });
    FB.getLoginStatus(function(response) {
      console.log(response);
      
      if (response.status === 'connected') {
          $('#logout').click(function() {
              // alert("logout?");
              FB.logout(function() {
                  $.ajax({
                      method: 'get',
                      url: '/home/logout'
                  })
                  .done(function(){
                      // alert("logout");
                      window.location.reload();
                  });
              })
          });
          FB.api('/me', function(info) {
            console.log(info);
            $('#profile-name').text(info.name);
            $('#profile-picture').attr('src', 'https://graph.facebook.com/' + info.id + '/picture?type=square');
          })
      } else {
          $('#login').click(function() {
              FB.login(function() {
                  $.ajax({
                      method: 'get',
                      url: '/home/login'
                  })
                  .done(function(){
                    // alert("done");
                    window.location.reload();
                  });
              },{scope: 'email'});
          });
      }
    });
    // FB.AppEvents.logPageView();
  };
  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>
</body>
</html>
